.dual-select {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 400px;
  text-align: left;
}

.dual-select__button-block {
  display: flex;
  flex-direction: column;
}

.dual-select__button {
  text-align: left;
}
